*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

p {
  line-height: 1.7; }

a {
  text-decoration: none;
  color: inherit; }

li,
ul {
  list-style: none; }

body {
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  min-height: 100vh;
  flex: 1; }

.ltr-font {
  font-family: "Poppins", sans-serif; }

.rtl-font {
  font-family: "Vazirmatn", sans-serif; }

.light-theme {
  color: #444444;
  background: #f5f5f5; }

.light-theme-reverse {
  color: #f5f5f5;
  background: #444444; }

.light-theme-text {
  color: #444444; }

.light-theme-text-reverse {
  color: #f5f5f5; }

.dark-theme {
  color: #f5f5f5;
  background: #444444; }

.dark-theme-reverse {
  color: #444444;
  background: #f5f5f5; }

.dark-theme-text {
  color: #f5f5f5; }

.dark-theme-text-reverse {
  color: #444444; }

.footer-app {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 14px; }
  .footer-app .terms ul {
    display: flex; }
    .footer-app .terms ul li {
      margin: 0 10px; }

.header-app {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px; }
  .header-app .main-header-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header-app .main-header-nav .join-businesses {
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: 0.3s; }
      .header-app .main-header-nav .join-businesses h2 {
        font-size: 15px; }
      .header-app .main-header-nav .join-businesses:hover {
        color: #d43939; }
    .header-app .main-header-nav .nav-tools {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .header-app .main-header-nav .nav-tools i {
        cursor: pointer;
        width: 32px;
        margin-left: 4px;
        padding: 10px 3px;
        font-size: 18px;
        transition: 0.3s; }
        .header-app .main-header-nav .nav-tools i:hover {
          color: #d43939; }
      .header-app .main-header-nav .nav-tools .language-wrapper {
        font-size: 12px;
        z-index: 1100;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 5px;
        position: relative; }
        .header-app .main-header-nav .nav-tools .language-wrapper .language-button-container {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1px;
          border-radius: 15px;
          transition: 0.3s; }
          .header-app .main-header-nav .nav-tools .language-wrapper .language-button-container:hover {
            background: #d43939; }
          .header-app .main-header-nav .nav-tools .language-wrapper .language-button-container .language-button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            min-width: 35px;
            padding: 4px 8px;
            transition: 0.3s;
            cursor: pointer; }
            .header-app .main-header-nav .nav-tools .language-wrapper .language-button-container .language-button:hover {
              color: #d43939; }
        .header-app .main-header-nav .nav-tools .language-wrapper .languages {
          font-family: "Vazirmatn" !important;
          display: none;
          flex-direction: column;
          position: absolute;
          top: 40px;
          padding: 10px;
          border-radius: 10px; }
          .header-app .main-header-nav .nav-tools .language-wrapper .languages > * {
            display: inline-flex;
            cursor: pointer;
            padding: 5px;
            transition: 0.3s; }
            .header-app .main-header-nav .nav-tools .language-wrapper .languages > *:hover {
              color: #d43939; }
  .header-app .explorer-header-nav .nav-logo {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .header-app .explorer-header-nav .nav-logo img {
      width: 135px; }

.main-app {
  width: 100%;
  display: flex;
  flex-grow: 1; }
  .main-app .main-main-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 30px; }
    .main-app .main-main-wrapper .logo-wrapper {
      display: flex;
      align-items: center;
      justify-content: center; }
      .main-app .main-main-wrapper .logo-wrapper img {
        display: block;
        width: 500px;
        height: 100%; }
    .main-app .main-main-wrapper .search-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #dec583;
      margin-top: 18px;
      margin-bottom: 18px;
      border-radius: 20px;
      padding: 5px 10px;
      position: relative; }
      .main-app .main-main-wrapper .search-bar i {
        cursor: pointer;
        font-size: 18px;
        transition: 0.3s;
        margin: 0 5px; }
        .main-app .main-main-wrapper .search-bar i:hover {
          color: #d43939; }
      .main-app .main-main-wrapper .search-bar .category-dropup {
        display: none; }
      .main-app .main-main-wrapper .search-bar input {
        width: 600px;
        height: 40px;
        padding: 10px;
        outline: none;
        border: none;
        background: none; }
      .main-app .main-main-wrapper .search-bar button {
        padding: 10px;
        outline: none;
        border: none;
        background: none;
        cursor: pointer; }
        .main-app .main-main-wrapper .search-bar button i {
          font-size: 18px;
          transition: 0.3s; }
          .main-app .main-main-wrapper .search-bar button i:hover {
            color: #d43939; }
      .main-app .main-main-wrapper .search-bar .categories-wrapper {
        width: 100%;
        position: absolute;
        background: #f5f5f5;
        color: #444444;
        display: none;
        flex-direction: column;
        align-items: center;
        color: #f5f5f5;
        justify-content: space-between;
        border-radius: 20px;
        padding: 10px 15px;
        top: 60px;
        left: 0;
        max-height: 250px;
        overflow-y: auto;
        margin: 2px;
        z-index: 1000; }
        .main-app .main-main-wrapper .search-bar .categories-wrapper .dropdown-content {
          width: 100%;
          justify-content: space-between;
          align-items: center;
          color: #444444;
          flex-direction: column;
          font-size: 14px;
          text-transform: capitalize;
          text-wrap: nowrap; }
          .main-app .main-main-wrapper .search-bar .categories-wrapper .dropdown-content label {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            margin: 5px 0; }
            .main-app .main-main-wrapper .search-bar .categories-wrapper .dropdown-content label span {
              width: 100%;
              display: flex;
              flex-grow: 1;
              overflow: hidden;
              font-size: 14px; }
            .main-app .main-main-wrapper .search-bar .categories-wrapper .dropdown-content label input {
              width: fit-content;
              width: 20px; }
    .main-app .main-main-wrapper h1 {
      margin-top: 20px;
      font-size: 13px; }
    .main-app .main-main-wrapper .country-flags-wrapper {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      padding: 50px;
      grid-gap: 25px; }
      .main-app .main-main-wrapper .country-flags-wrapper .country-flag-card {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        overflow: hidden;
        width: 70px;
        height: 40px;
        cursor: pointer;
        transition: 0.5s;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px; }
        .main-app .main-main-wrapper .country-flags-wrapper .country-flag-card:hover {
          transform: scale(1.2); }
        .main-app .main-main-wrapper .country-flags-wrapper .country-flag-card img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
          object-position: center;
          pointer-events: none; }
  .main-app .explorer-main-business {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow-y: auto;
    flex: 1; }
    .main-app .explorer-main-business .explorer-heading {
      background: #dec583;
      padding: 30px 15px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .main-app .explorer-main-business .explorer-heading h2 {
        font-size: 30px;
        margin: 15px 0;
        margin-right: 10px;
        text-wrap: nowrap; }
      .main-app .explorer-main-business .explorer-heading .explorer-search-field {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        cursor: pointer;
        grid-gap: 10px;
        font-size: 13px;
        padding: 0 15px; }
        .main-app .explorer-main-business .explorer-heading .explorer-search-field .explorer-filter {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 10px; }
          .main-app .explorer-main-business .explorer-heading .explorer-search-field .explorer-filter .filter-card {
            position: relative;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #f5f5f5;
            border-radius: 10px;
            text-wrap: nowrap; }
            .main-app .explorer-main-business .explorer-heading .explorer-search-field .explorer-filter .filter-card .filter-selector {
              width: 100%;
              padding: 10px 15px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              color: #444444; }
              .main-app .explorer-main-business .explorer-heading .explorer-search-field .explorer-filter .filter-card .filter-selector .fa-angle-up {
                display: none; }
            .main-app .explorer-main-business .explorer-heading .explorer-search-field .explorer-filter .filter-card .dropdown-content {
              width: 100%;
              z-index: 100;
              max-height: 350px;
              overflow: auto;
              background: #f5f5f5;
              color: #444444;
              display: none;
              justify-content: start;
              align-items: center;
              position: absolute;
              flex-direction: column;
              top: 45px;
              padding: 10px 15px;
              font-size: 12px;
              text-transform: capitalize;
              left: 0;
              text-wrap: nowrap;
              border-radius: 10px; }
              .main-app .explorer-main-business .explorer-heading .explorer-search-field .explorer-filter .filter-card .dropdown-content label {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer; }
                .main-app .explorer-main-business .explorer-heading .explorer-search-field .explorer-filter .filter-card .dropdown-content label span {
                  max-width: 100%;
                  overflow: hidden; }
                .main-app .explorer-main-business .explorer-heading .explorer-search-field .explorer-filter .filter-card .dropdown-content label input {
                  height: 40px; }
            .main-app .explorer-main-business .explorer-heading .explorer-search-field .explorer-filter .filter-card i {
              padding-left: 2px;
              display: flex;
              align-items: center;
              justify-content: center;
              pointer-events: none; }
        .main-app .explorer-main-business .explorer-heading .explorer-search-field > input {
          width: 100%;
          outline: none;
          border: none;
          border-radius: 10px;
          padding: 10px 15px;
          background: #f5f5f5;
          color: #444444; }
          .main-app .explorer-main-business .explorer-heading .explorer-search-field > input::placeholder {
            font-size: 12px; }
    .main-app .explorer-main-business .business-lists {
      margin-top: 20px;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 40px;
      padding: 30px; }
      .main-app .explorer-main-business .business-lists .explorer-business-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        padding: 0;
        overflow: hidden;
        background: #ececec;
        color: #444444;
        max-height: 320px;
        height: 320px;
        overflow: hidden;
        cursor: pointer; }
        .main-app .explorer-main-business .business-lists .explorer-business-card .explorer-card-container {
          padding: 20px;
          padding-bottom: 5px; }
          .main-app .explorer-main-business .business-lists .explorer-business-card .explorer-card-container .explorer-profile {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 15px 0;
            margin-bottom: 20px; }
            .main-app .explorer-main-business .business-lists .explorer-business-card .explorer-card-container .explorer-profile .explorer-logo img {
              width: 85px;
              object-fit: cover;
              object-position: center;
              display: block; }
            .main-app .explorer-main-business .business-lists .explorer-business-card .explorer-card-container .explorer-profile .explorer-title {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: start;
              padding: 15px;
              text-transform: capitalize;
              max-height: 100px;
              overflow: hidden; }
              .main-app .explorer-main-business .business-lists .explorer-business-card .explorer-card-container .explorer-profile .explorer-title h3 {
                font-size: 14px; }
              .main-app .explorer-main-business .business-lists .explorer-business-card .explorer-card-container .explorer-profile .explorer-title h4 {
                font-size: 12px; }
          .main-app .explorer-main-business .business-lists .explorer-business-card .explorer-card-container p {
            width: 100%;
            text-align: justify;
            max-height: 133px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 5;
            /* Adjust this number to the number of lines to be shown */
            text-overflow: ellipsis;
            font-size: 13px; }
          .main-app .explorer-main-business .business-lists .explorer-business-card .explorer-card-container .explorer-country {
            width: 100%;
            position: absolute;
            top: 15px;
            right: 0px;
            font-size: 12px;
            opacity: 70%;
            text-transform: capitalize; }
            .main-app .explorer-main-business .business-lists .explorer-business-card .explorer-card-container .explorer-country div {
              width: 100%;
              display: flex;
              justify-content: end;
              padding: 0 15px; }
        .main-app .explorer-main-business .business-lists .explorer-business-card .explorer-button {
          width: 100%;
          display: flex;
          align-items: center;
          cursor: pointer; }
          .main-app .explorer-main-business .business-lists .explorer-business-card .explorer-button button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            outline: none;
            background: #dec583;
            color: #444444;
            border: none;
            padding: 15px;
            transition: 0.5s;
            cursor: pointer; }
        .main-app .explorer-main-business .business-lists .explorer-business-card:hover .explorer-button button {
          opacity: 70%;
          color: #f5f5f5; }
  .main-app .business-wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow-y: auto;
    flex: 1; }
    .main-app .business-wrapper .header-content {
      width: 100%;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between; }
      .main-app .business-wrapper .header-content .header-profile {
        display: flex;
        align-items: center; }
        .main-app .business-wrapper .header-content .header-profile img {
          width: 100px;
          margin: 0 10px; }
        .main-app .business-wrapper .header-content .header-profile h1 {
          text-transform: capitalize;
          font-size: 25px; }
        .main-app .business-wrapper .header-content .header-profile h2 {
          text-transform: capitalize;
          font-size: 15px; }
      .main-app .business-wrapper .header-content .header-contact {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 10px; }
        .main-app .business-wrapper .header-content .header-contact .contact-item {
          display: flex;
          align-items: center; }
          .main-app .business-wrapper .header-content .header-contact .contact-item i {
            margin: 0 10px;
            font-size: 18px; }
        .main-app .business-wrapper .header-content .header-contact .header-info-location {
          text-transform: capitalize; }
      .main-app .business-wrapper .header-content .header-tools {
        display: flex;
        justify-content: center; }
        .main-app .business-wrapper .header-content .header-tools .header-qr-code {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 30px; }
          .main-app .business-wrapper .header-content .header-tools .header-qr-code img {
            width: 100px;
            height: 120px; }
        .main-app .business-wrapper .header-content .header-tools .header-quick-access {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around; }
          .main-app .business-wrapper .header-content .header-tools .header-quick-access i {
            font-size: 15px;
            transition: 0.5s;
            cursor: pointer; }
            .main-app .business-wrapper .header-content .header-tools .header-quick-access i:hover {
              transform: scale(1.2); }
    .main-app .business-wrapper .business-nav {
      width: 100%;
      padding: 0 10px;
      background: #dec583;
      display: flex;
      align-items: center;
      justify-content: center; }
      .main-app .business-wrapper .business-nav ul {
        margin: 0 150px;
        width: 100%;
        display: flex;
        justify-content: space-between; }
        .main-app .business-wrapper .business-nav ul li {
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.5s;
          white-space: nowrap;
          font-size: 14px; }
          .main-app .business-wrapper .business-nav ul li:hover {
            background: #ececec;
            color: #444444; }
          .main-app .business-wrapper .business-nav ul li a {
            display: block;
            padding: 10px; }
        .main-app .business-wrapper .business-nav ul .header-nav-selected {
          position: relative;
          background: #eef1f154; }
    .main-app .business-wrapper .main-contents {
      width: 100%;
      padding: 45px; }
      .main-app .business-wrapper .main-contents p {
        text-align: justify; }
        .main-app .business-wrapper .main-contents p strong {
          display: inline-block;
          font-weight: bold;
          margin-top: 5px;
          font-size: 14px; }
      .main-app .business-wrapper .main-contents .details-card {
        margin-bottom: 40px;
        background: #ececec;
        color: #444444; }
        .main-app .business-wrapper .main-contents .details-card h2 {
          font-size: 18px;
          margin: 10px 0;
          font-weight: bold; }
        .main-app .business-wrapper .main-contents .details-card p {
          font-size: 13px; }
      .main-app .business-wrapper .main-contents .overview-summary {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr); }
        .main-app .business-wrapper .main-contents .overview-summary .video-container {
          position: relative;
          cursor: pointer; }
          .main-app .business-wrapper .main-contents .overview-summary .video-container iframe {
            border-radius: 15px; }
          .main-app .business-wrapper .main-contents .overview-summary .video-container img {
            border-radius: 15px;
            width: 100%;
            opacity: 70%; }
          .main-app .business-wrapper .main-contents .overview-summary .video-container i {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            font-size: 75px;
            color: #444444;
            opacity: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
      .main-app .business-wrapper .main-contents .main-contacts {
        width: 100%;
        margin: 10px 0;
        font-size: 14px; }
        .main-app .business-wrapper .main-contents .main-contacts h3 {
          margin-bottom: 20px;
          font-size: 18px; }
        .main-app .business-wrapper .main-contents .main-contacts .contact-info {
          background: #ececec;
          color: #444444;
          width: 100%;
          display: grid;
          grid-gap: 10px;
          grid-template-columns: repeat(2, 1fr);
          justify-content: center;
          align-items: center;
          margin-bottom: 70px;
          font-size: 14px; }
          .main-app .business-wrapper .main-contents .main-contacts .contact-info .contact-info-details .info-details-card {
            display: flex;
            align-items: start;
            margin-bottom: 20px; }
            .main-app .business-wrapper .main-contents .main-contacts .contact-info .contact-info-details .info-details-card i {
              margin-right: 10px;
              font-size: 14px; }
          .main-app .business-wrapper .main-contents .main-contacts .contact-info .contact-info-details .contacts-social-media {
            flex-direction: row;
            justify-content: start;
            font-size: 18px; }
            .main-app .business-wrapper .main-contents .main-contacts .contact-info .contact-info-details .contacts-social-media i {
              margin-right: 20px;
              font-size: 20px;
              transition: 0.5s; }
              .main-app .business-wrapper .main-contents .main-contacts .contact-info .contact-info-details .contacts-social-media i:hover {
                transform: scale(1.2); }
          .main-app .business-wrapper .main-contents .main-contacts .contact-info .contact-info-map {
            width: 100%;
            display: flex;
            align-items: end;
            justify-content: end; }
            .main-app .business-wrapper .main-contents .main-contacts .contact-info .contact-info-map iframe {
              border: none;
              align-self: self-end;
              border-radius: 20px;
              width: 100%;
              min-height: 300px; }
      .main-app .business-wrapper .main-contents .main-services {
        grid-gap: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr); }
        .main-app .business-wrapper .main-contents .main-services .service-card {
          background: #ececec;
          color: #444444;
          overflow: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0; }
          .main-app .business-wrapper .main-contents .main-services .service-card .service-img {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center; }
            .main-app .business-wrapper .main-contents .main-services .service-card .service-img img {
              width: 100%;
              display: block;
              max-height: 300px;
              object-fit: cover;
              object-position: center; }
          .main-app .business-wrapper .main-contents .main-services .service-card .service-info {
            width: 100%;
            padding: 25px; }
            .main-app .business-wrapper .main-contents .main-services .service-card .service-info h3 {
              margin-bottom: 10px; }
            .main-app .business-wrapper .main-contents .main-services .service-card .service-info p {
              width: 100%;
              text-align: justify;
              max-height: 133px;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              overflow: hidden;
              -webkit-line-clamp: 5;
              /* Adjust this number to the number of lines to be shown */
              text-overflow: ellipsis;
              font-size: 13px; }
      .main-app .business-wrapper .main-contents .main-gallery {
        grid-gap: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr); }
        .main-app .business-wrapper .main-contents .main-gallery .gallery-card {
          background: #ececec;
          color: #444444;
          overflow: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0; }
          .main-app .business-wrapper .main-contents .main-gallery .gallery-card .gallery-img {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center; }
            .main-app .business-wrapper .main-contents .main-gallery .gallery-card .gallery-img img {
              width: 100%;
              display: block;
              max-height: 300px;
              object-fit: cover;
              object-position: center; }
          .main-app .business-wrapper .main-contents .main-gallery .gallery-card .gallery-info {
            width: 100%;
            padding: 25px; }
            .main-app .business-wrapper .main-contents .main-gallery .gallery-card .gallery-info h3 {
              margin-bottom: 10px; }
            .main-app .business-wrapper .main-contents .main-gallery .gallery-card .gallery-info p {
              width: 100%;
              text-align: justify;
              max-height: 133px;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              overflow: hidden;
              -webkit-line-clamp: 5;
              /* Adjust this number to the number of lines to be shown */
              text-overflow: ellipsis;
              font-size: 13px; }
      .main-app .business-wrapper .main-contents .main-more-info {
        display: flex;
        flex-direction: column;
        width: 100%; }
        .main-app .business-wrapper .main-contents .main-more-info .more-info-card {
          background: #ececec;
          color: #444444;
          padding: 25px;
          border-radius: 20px;
          margin-bottom: 25px; }
  .main-app .about-wrapper {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-bottom: 100px; }
    .main-app .about-wrapper .about-title {
      color: #d43939;
      font-size: 25px;
      margin: 10px 0; }
    .main-app .about-wrapper .about-description {
      font-size: 15px;
      line-height: 2;
      text-align: justify;
      margin: 15px 0; }
    .main-app .about-wrapper .gcc-partner-title {
      font-size: 25px;
      color: #d43939;
      margin-top: 35px;
      margin-bottom: 20px; }
    .main-app .about-wrapper .partners {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 30px; }
      .main-app .about-wrapper .partners .partner-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; }
        .main-app .about-wrapper .partners .partner-card a {
          display: block;
          margin-bottom: 5px; }
        .main-app .about-wrapper .partners .partner-card img {
          width: 130px;
          height: 130px;
          margin-bottom: 10px; }
        .main-app .about-wrapper .partners .partner-card h3 {
          font-size: 20px; }

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px;
  padding: 30px;
  border-radius: 20px; }

.loader-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #f5f5f5;
  z-index: 10000; }

.loader {
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  border: 10px solid transparent;
  border-top: 10px solid #dec583;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  animation: loaderAnimation 0.75s linear infinite; }

@keyframes loaderAnimation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  min-height: 200px;
  min-width: 300px;
  transform: translate(-50%, -50%);
  background: #444444;
  color: #f5f5f5;
  overflow: auto;
  padding: 50px;
  border-radius: 20px; }
  .modal .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center; }
    .modal .modal-content h3 {
      margin-bottom: 20px; }
    .modal .modal-content input {
      width: 100%;
      height: 40px;
      border: none;
      outline: none;
      border-radius: 8px;
      padding: 5px;
      font-size: 12px;
      font-family: Poppins; }
    .modal .modal-content div {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 15px; }
      .modal .modal-content div button {
        width: 100%;
        margin-top: 20px;
        border: none;
        outline: none;
        border-radius: 8px;
        padding: 5px;
        background: #f5f5f5;
        font-family: Poppins;
        cursor: pointer; }
  .modal .close {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    top: 15px;
    right: 25px; }
  .modal .close:hover,
  .modal .close:focus {
    color: #d43939;
    text-decoration: none;
    cursor: pointer; }

.notifications {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 13px;
  color: #f5f5f5;
  border-radius: 15px;
  min-width: 200px;
  min-height: 40px;
  background: #d43939;
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 1000; }

.country-info-wrapper {
  z-index: 2000;
  display: flex;
  flex-direction: column;
  padding: 5px;
  min-width: 800px;
  width: 1024px;
  background: #dec583;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .country-info-wrapper .country-info-close {
    display: flex;
    justify-content: space-between;
    padding: 15px; }
    .country-info-wrapper .country-info-close i {
      cursor: pointer;
      font-size: 20px;
      padding: 0 20px; }
    .country-info-wrapper .country-info-close h3 {
      font-size: 35px; }
  .country-info-wrapper .country-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 15px;
    padding-top: 0;
    font-size: 12px; }
    .country-info-wrapper .country-info .country-map {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 20px; }
      .country-info-wrapper .country-info .country-map img {
        display: block;
        margin: 0 auto;
        width: 80%;
        object-fit: cover;
        object-position: center; }
    .country-info-wrapper .country-info .country-info-table {
      width: 100%;
      display: flex;
      flex-direction: column; }
      .country-info-wrapper .country-info .country-info-table .country-info-card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        border-bottom: 1px solid #1e1e1e18;
        padding: 7px 0; }
        .country-info-wrapper .country-info .country-info-table .country-info-card:last-child {
          border: none; }
        .country-info-wrapper .country-info .country-info-table .country-info-card .info-title {
          display: flex;
          align-items: center;
          font-size: 13px; }

.button-transparent {
  min-width: 150px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dec583;
  border-radius: 15px;
  padding: 10px 14px;
  margin: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s; }
  .button-transparent:hover {
    color: #d43939;
    border: 1px solid #d43939; }

@media (max-width: 1024px) {
  .main-app .business-wrapper .header-content .header-tools .header-qr-code {
    display: none; }
  .main-app .business-wrapper .business-nav {
    margin: 15px 0; }
    .main-app .business-wrapper .business-nav ul {
      margin: 0 100px; }
      .main-app .business-wrapper .business-nav ul li {
        font-size: 14px; }
  .main-app .business-wrapper .main-contents .overview-summary {
    grid-template-columns: repeat(1, 1fr); }
  .main-app .business-wrapper .main-contents .main-services {
    grid-template-columns: repeat(2, 1fr); }
    .main-app .business-wrapper .main-contents .main-services .service-card {
      grid-template-columns: repeat(1, 1fr); }
      .main-app .business-wrapper .main-contents .main-services .service-card .service-img {
        justify-content: center; }
    .main-app .business-wrapper .main-contents .main-services .service-img {
      order: 0; }
    .main-app .business-wrapper .main-contents .main-services .service-info {
      order: 1; }
  .main-app .business-wrapper .main-contents .main-gallery {
    grid-template-columns: repeat(2, 1fr); }
    .main-app .business-wrapper .main-contents .main-gallery .gallery-card {
      grid-template-columns: repeat(1, 1fr); }
      .main-app .business-wrapper .main-contents .main-gallery .gallery-card .gallery-img {
        justify-content: center; }
    .main-app .business-wrapper .main-contents .main-gallery .gallery-img {
      order: 0; }
    .main-app .business-wrapper .main-contents .main-gallery .gallery-info {
      order: 1; }
  .main-app .explorer-main-business .business-lists {
    grid-template-columns: repeat(2, 1fr); }
  .main-app .explorer-main-business .explorer-heading {
    flex-direction: column; }
    .main-app .explorer-main-business .explorer-heading .explorer-search-field {
      grid-template-columns: repeat(1, 1fr); }
  .main-app .about-wrapper .partners {
    grid-template-columns: repeat(2, 1fr); }
  .country-info-wrapper {
    min-width: 800px;
    width: 800px; } }

@media (max-width: 800px) {
  .main-app .business-wrapper .header-content {
    padding: 20px;
    display: flex;
    justify-content: space-between; }
    .main-app .business-wrapper .header-content .header-profile {
      display: flex;
      align-items: center; }
      .main-app .business-wrapper .header-content .header-profile img {
        width: 120px;
        margin: 0 10px; }
      .main-app .business-wrapper .header-content .header-profile h1 {
        font-size: 25px; }
      .main-app .business-wrapper .header-content .header-profile h2 {
        font-size: 15px; }
    .main-app .business-wrapper .header-content .header-contact {
      display: none; }
  .main-app .business-wrapper .business-nav ul {
    margin: 0 50px; }
    .main-app .business-wrapper .business-nav ul li {
      font-size: 13px; }
  .main-app .business-wrapper .contact-info {
    grid-template-columns: repeat(1, 1fr) !important; }
  .main-app .business-wrapper .main-contents .main-services,
  .main-app .business-wrapper .main-contents .main-gallery {
    grid-template-columns: repeat(1, 1fr); }
  .main-app .explorer-main-business .business-lists {
    grid-template-columns: repeat(1, 1fr); }
  .main-app .main-main-wrapper .logo-wrapper img {
    width: 300px;
    height: 100%; }
  .main-app .main-main-wrapper .search-bar {
    width: 440px; }
  .main-app .main-main-wrapper .country-flags-wrapper {
    padding: 40px;
    grid-gap: 20px; }
    .main-app .main-main-wrapper .country-flags-wrapper .country-flag-card {
      width: 60px;
      height: 35px; }
  .main-app .about-wrapper .partners {
    grid-template-columns: repeat(1, 1fr); }
  .country-info-wrapper {
    min-width: 470px;
    width: 490px; }
    .country-info-wrapper .country-info {
      grid-template-columns: 1fr; }
      .country-info-wrapper .country-info .country-map {
        order: 1; }
        .country-info-wrapper .country-info .country-map img {
          width: 50%; }
      .country-info-wrapper .country-info .country-info-table {
        order: 2; } }

@media (max-width: 500px) {
  .header-app .button-transparent {
    padding: 8px 10px;
    text-wrap: nowrap;
    min-width: 100px; }
  .main-app .business-wrapper .header-content {
    flex-direction: column; }
    .main-app .business-wrapper .header-content .header-profile {
      flex-direction: column; }
      .main-app .business-wrapper .header-content .header-profile figcaption {
        text-align: center;
        padding: 10px 0; }
    .main-app .business-wrapper .header-content .header-tools {
      display: flex;
      justify-content: center; }
      .main-app .business-wrapper .header-content .header-tools .header-quick-access {
        display: flex;
        width: 100%;
        margin-top: 10px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around; }
        .main-app .business-wrapper .header-content .header-tools .header-quick-access i {
          font-size: 17px; }
  .main-app .business-wrapper .business-nav {
    margin: 0; }
    .main-app .business-wrapper .business-nav ul {
      margin: 0 20px; }
      .main-app .business-wrapper .business-nav ul li {
        font-size: 13px; }
  .main-app .explorer-main-business .business-lists {
    grid-template-columns: repeat(1, 1fr); }
  .main-app .main-main-wrapper .logo-wrapper img {
    width: 275px; }
  .main-app .main-main-wrapper .search-bar {
    width: 90%;
    border-radius: 15px; }
  .main-app .main-main-wrapper .country-flags-wrapper {
    padding: 15px;
    grid-gap: 10px; }
    .main-app .main-main-wrapper .country-flags-wrapper .country-flag-card {
      border-radius: 7px;
      width: 50px;
      height: 30px; }
  .country-info-wrapper {
    min-width: 250px;
    width: 390px; }
    .country-info-wrapper .country-info-close h3 {
      font-size: 20px; } }
